body {
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

a::after {
    content: '';
    display: block;
    border-bottom: solid 3px white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: left; 
}

a:hover::after {
    transform: scaleX(1);
}

p {
    text-decoration: none;
    color: white;
    margin: 0px;
    padding: 10px;
}

p.solid {border-style: solid;}

.navbar {
    width: 80%;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_title {
    color: #C7C7C7;
    font-size: 32px;
    font-family: "Bebas Neue", sans-serif;
    
}

.navbar_menu {
    color: #C7C7C7;
    width: 270px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 769px) {
    .navbar {
        flex-direction : column;
        padding : 8px 24px;
    }

    .navbar_menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.container {
    width: 80%;
    padding-top: 10px;
    padding-bottom: 75px;
    display: flex;
    justify-items: center;
}

.container_left {
    padding: 0px 5px 0px 80px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_right {
    width: 50%;
    padding: 0px 30px 0px 5px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.container_hello {
    padding: 0px;
    font-size: 108px;
    font-family: "Bebas Neue", sans-serif;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 0.9;
}

.container_explanation {
    padding: 0px;
    font-size: 18px;
    font-family: "Manrope", sans-serif;
    color: #C7C7C7;
}

.container_icon {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.icon-item {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    transition: all 0.2s ease;
}

.contact-button {
    font-family: "Manrope", sans-serif;
    background-color: #D3E97A;
    color: #000;
    padding: 15px 22px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 999px;
    gap: 10px;
}

.contact-button .dot {
    width: 8px;
    height: 8px;
    background-color: #000;
    border-radius: 50%;
}

.contact-button:hover {
    opacity: 0.8;
}

.social-button {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #1a1a1a;
    color: #d8ff6d;
    font-size: 19px;
    padding: 4px;
}

.social-button:hover {
    background-color: #2a2a2a;
}


.division-line {
    width: 100%;
    border-top: 1px solid white;
    margin: 30px 0;
    transform: scaleY(0.3); 
    transform-origin: top;
}

.project {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-bottom: 40px;
}

.project_top {
    padding-top: 30px;
    padding-bottom: 30px;
}

.project_heading {
    padding: 0;
    font-size: 76px;
    font-family: "Bebas Neue", sans-serif;
}

.project_sub_heading {
    color: #C7C7C7;
    padding: 0;
    font-size: 18px;
    font-family: "Manrope", sans-serif;
    line-height: 0.9;
}

.project_entire {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.project_left {
    width: 50%;
    padding: 70px 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
}

.project_title {
    font-size: 32px;
    color: white;
    padding: 10px 0px;
    font-family: "Manrope", sans-serif;
}

.project_explanation {
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 400;
    color: #C7C7C7;
    font-family: "Manrope", sans-serif;
}

.project_right {
    width: 50%;
    padding: 50px;
    padding-top: 30px;
}

.project_section {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 10px;
}

.project_section_title {
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}

.project_info_row {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-top: 1px solid #333;
}

.info_label {
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
}

.info_value {
    color: #C7C7C7;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.project-division-line {
    border-top: 1px solid white;
    margin-top: 3px; 
    transform: scaleY(0.5); 
    transform-origin: top;
}

.project-links {
    display: flex;
    gap: 30px;
}

.project-link {
    color: #D3E97A;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 5px;
    border-bottom: 2px solid #D3E97A;
    transition: all 0.2s ease;
}

.project-link:hover {
    opacity: 0.8;
    transform: translateY(-1px);
}

.github-icon {
    width: 16px;
    height: 16px;
}

.about {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 150px;
}

.about_me {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}

.about_me_left {
    width: 40%;
    padding: 0;
    font-size: 76px;
    font-family: "Bebas Neue", sans-serif;
}

.about_me_right {
    width: 60%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    font-family: "Manrope", sans-serif;
    
}

.about_me_title {
    font-size: 32px;
    color: white;
    padding: 10px 0px;
}

.about_me_body {
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 400;
    color: #C7C7C7;
}

.about_me_divider {
    border: none;
    height: 1px;
    background-color: #333333;
    margin: 24px 0;
}


.about_me_info {
    width: 70%;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.about_me_info_box {
    width: 30%;
}

.about_me_info_row {
    display: flex;
    justify-content: space-between;
    background-color: #1a1a1a;
    padding: 12px 16px;
    border-radius: 8px;
}

.about_me_info_key {
    color: #aaaaaa;
    font-weight: bold;
    font-size: 18px;
}

.about_me_info_value {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}


.capability {
    width: 100%;
    display: flex;
    justify-content: center;
}

.capability_left {
    width: 50%;
    padding: 0;
    font-size: 76px;
    font-family: "Bebas Neue", sans-serif;
}

.capability_right {
    width: 50%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    font-family: "Manrope", sans-serif;
}

.capability_body {
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 400;
    color: #C7C7C7;
    font-family: "Manrope", sans-serif;
}

.tech-stack {
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tag {
  display: inline-block;
  padding: 16px 42px;
  border: 1px solid #C7C7C7;
  border-radius: 999px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
}

/* .tag:hover {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
} */
